* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#block_screen {
  height: 100%;
  width: 100%;
  z-index: 8;
  background: white;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#giant_text {
  position: absolute;
  top: 50%;
  left: 13%;
  -webkit-transform: translate(-13%, -50%);
          transform: translate(-13%, -50%);
  color: #aaaaaa;
  font-size: 8vw;
  font-family: 'Orelega One', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#giant_text p {
  margin: 0;
  position: relative;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#giant_text p span {
  color: #616161;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-animation: get_in_text 0.9s 0.7s ease forwards;
          animation: get_in_text 0.9s 0.7s ease forwards;
}

#giant_text .giant {
  opacity: 0;
  -webkit-animation: get_in_text 0.9s 0.3s ease forwards;
          animation: get_in_text 0.9s 0.3s ease forwards;
}

#dynamic_text {
  position: absolute;
  right: 7.5%;
  top: 25%;
  font-size: 3vw;
  font-family: 'Orelega One', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #aaaaaa;
}

#dynamic_text p {
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  -webkit-animation: slide_to_right 0.8s 0s ease forwards;
          animation: slide_to_right 0.8s 0s ease forwards;
}

#clock_widget {
  opacity: 0;
  visibility: hidden;
  width: 50%;
  position: absolute;
  top: 15%;
  right: 25%;
  -webkit-animation: get_in_clock 0.9s 0s ease forwards;
          animation: get_in_clock 0.9s 0s ease forwards;
}

#clock_widget img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#clock_widget #ghost_clock {
  position: relative;
  height: auto;
}

#clock_widget #clock_display {
  position: absolute;
  background: #acacac;
  font-family: 'Trispace', Verdana;
  width: 28%;
  height: 20%;
  top: 42%;
  left: 30%;
  -webkit-transform: skew(0deg, 9deg) translate(-30%, -42%);
          transform: skew(0deg, 9deg) translate(-30%, -42%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  overflow: hidden;
}

#clock_widget #clock_display p {
  padding: 2% 4%;
  text-align: center;
}

#clock_widget #clock_display p#time {
  font-size: 1.8vw;
}

#clock_widget #clock_display p#time #hours, #clock_widget #clock_display p#time #minutes {
  font-weight: 800;
}

#clock_widget #clock_display p#title {
  font-size: 0.6vw;
  font-weight: bold;
}

#clock_widget #clock_display p#message {
  font-size: 0.75vw;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(0.15%);
            transform: translateX(0.15%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(0.15%);
            transform: translateX(0.15%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes wink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes godown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes godown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes goout {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes goout {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
}

@-webkit-keyframes slide_to_left {
  0% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  100% {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
  }
}

@keyframes slide_to_left {
  0% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  100% {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
  }
}

@-webkit-keyframes slide_to_right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide_to_right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes fade_out {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes fade_out {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes disappear {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes disappear {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

@-webkit-keyframes get_in_text {
  0% {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes get_in_text {
  0% {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes get_in_clock {
  0% {
    -webkit-transform: translate(25%, -120%);
            transform: translate(25%, -120%);
    opacity: 0;
  }
  1% {
    visibility: visible;
  }
  30% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    -webkit-transform: translate(25%, -15%);
            transform: translate(25%, -15%);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes get_in_clock {
  0% {
    -webkit-transform: translate(25%, -120%);
            transform: translate(25%, -120%);
    opacity: 0;
  }
  1% {
    visibility: visible;
  }
  30% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    -webkit-transform: translate(25%, -15%);
            transform: translate(25%, -15%);
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 800px) and (min-height: 610px) and (orientation: portrait) {
  #block_screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=clock.css.map */